<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Park Your Child</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="https://use.fontawesome.com/c33e183d7e.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
  </head>
  <body>

    <nav class="ui top fixed stackable inverted blue menu">
      <div class="item">
        <i class="leaf icon large"></i>
      </div>
      <a href="/parks"class="active red item">All Parks</a>
      <a href="/parks/new"class="red item">Add Park</a>
      <a href="#" class="red item floated right">Login</a>
      <a href="#" class="red item">Sign Up</a>
      <a href="#" class="red item">Logout</a>
    </nav>
