<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Park Your Child</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>

    <nav class="ui top fixed stackable inverted blue menu">
      <div class="item">
        <a href="/"><i class="inverted red circular leaf icon large"></i></a>
      </div>
      <a href="/parks"class="active red item">All Parks</a>
      <a href="/parks/new"class="red item">Add Park</a>
      <% if(!currentUser){ %>
        <a href="/login" class="red item floated right">Login</a>
        <a href="/register" class="red item">Sign Up</a>
      <% } else { %>
        <a href="#"class="item floated right" href="#">Signed In As <%= currentUser.username %></a>
        <a href="/logout" class="red item">Logout</a>
      <% } %>
    </nav>
