<% include ../partials/header %>

<div class="main">

  <h2 class="ui center aligned icon header">
    <i class="circular leaf icon"></i>
    Edit comment
  </h2>

  <div class="ui centered grid">
    <form class="ui seven wide column blue form" action="/parks/<%= park_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
      <div class="ui inverted segment">
        <div class="ui inverted form">
          <div class="field">
            <div class="field required">
              <label>Text</label>
              <textarea name="comment[text]"><%= comment.text %></textarea>
            </div>
          </div>
        </div>
        <br>
        <button class="ui fluid red submit button">Submit</button>
      </div>
    </form>
  </div>

</div>
<% include ../partials/footer %>
